#logo{
	padding: 0px;
	width: 200px;
}

.top-buffer{
	margin-top: 5%;
}

.registrar
{
	text-align: center;
}
body{	
	background-image: url("../img/fondo.jpg");
}

h2
{
  color: #337ab7;
  border-color: #2e6da4;
}


.fondo{
	background-color: #181818;
	background-size:100% 100%;
}

.vermas{
	
	background-color: #252525;
	color: white;
	font-weight: bold;	
	margin-bottom: 1%;
}

.destacados{
	background-color: #252525;
	color: white;
	font-weight: bold;	
	margin-bottom: 1%;
}

#sectionSlide{
	height: 30%;
}

@media (min-width: 768px){ 
	#logo{
		width: 300px;
	}
}
	
