#logo{
	padding: 0px;
	width: 200px;
}
#login.container>*{
	color: white;
}
.top-buffer{
	margin-top: 5%;
}
.bottom-buffer{
	margin-bottom: 5%;
}

.registrar
{
	text-align: center;
}

.carousel-control {
  padding-top:15%;
  width:6%;
}

body{	
	background-image: url("../img/fondo.jpg");
	background: rgba(24,24,24,0.8);
}

h2
{
  color: white;
  border-color: #2e6da4;
}


.fondo{
	background-color: #181818;
	background-size:100% 100%;
}

.vermas{
	
	background-color: #252525;
	color: white;
	font-weight: bold;	
	margin-bottom: 1%;
}

.destacados{
	background-color: #252525;
	color: white;
	font-weight: bold;	
	margin-bottom: 1%;
}

#sectionSlide{
	height: 30%;
	padding: 2%;
	margin-top: 10%;
	background-color: #2F4F4F;
}

@media (min-width: 768px){ 
	#logo{
		width: 300px;
	}
	#sectionSlide{
		margin-top: 0%;
	}

}


label.error{
	color: red;
}