#logo{
	padding: 0px;
	width: 200px;
}
#login.container>*{
	color: white;
}
.top-buffer{
	margin-top: 5%;
}
.bottom-buffer{
	margin-bottom: 5%;
}

.registrar
{
	text-align: center;
}

.carousel-control {
  padding-top:15%;
  width:6%;
}

body{	
	background-image: url("../img/fondo.jpg");
	background: rgba(24,24,24,0.8);
}

h2
{
  color: white;
  border-color: #2e6da4;
}


.fondo{
	background-color: #181818;
	background-size:100% 100%;
}

.vermas{
	
	background-color: #252525;
	color: white;
	font-weight: bold;	
	margin-bottom: 1%;
}

.destacados{
	background-color: #252525;
	color: white;
	font-weight: bold;	
	margin-bottom: 1%;
}

#sectionSlide{
	height: 30%;
	padding: 2%;
	margin-top: 10%;
	background-color: #2F4F4F;
}

@media (min-width: 768px){ 
	#logo{
		width: 300px;
	}
	#sectionSlide{
		margin-top: 0%;
	}

}

.marginbottom{
	margin-bottom: 0px;
}

label.error{
	color: red;
}

.padding-width{
	padding-left: 0;
	padding-right: 0;
	font-weight: bold;
	text-align: center;
}

.absoluteContainer {
	position: absolute;
	left: 0;
	right: 0;
	top: 0%;
	margin-left: auto;
	margin-right: auto;
	max-width: 90%;
	color: #FFF;
	background: rgba(54,54,54, 0.8);
	padding: 2%;
	border-radius: 5px;
}

.shadow_movie{
	color: blue;
	border-width: 2px;
	border-style: solid;
	box-shadow: 0px 0px 5px 4px #006699;
	-webkit-box-shadow: 0px 0px 5px 4px #006699;
}

.shadow_tv{
	color: green;
	border-width: 2px;
	border-style: solid;
	box-shadow: 0px 0px 5px 4px #22a309;
	-webkit-box-shadow: 0px 0px 5px 4px #22a309;
}